
{% load static %}


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>

<link rel="stylesheet" href="{% static 'reg/css/style.css' %}">


</head>
<body style="background-image:url('../static/images/R.jfif');">
  
 
    <div style="margin-top: -100px;">
       <a href="{% url 'index' %}"  class="nav-link"><b>BACK</b></a>
    </div>
  <div class="main" >

     
        <div class="container">
        
            <div class="signup-content">

	<form onsubmit ="return  passwordValidation() && newpasswordValidation() && cpasswordValidation" action="{% url 'change_password' %}" method="post" align="center" id="logform" name="logform">
               
                {% include 'alert.html' %}   
                {% csrf_token %}
                    <h2 class="form-title">Change Password</h2>
                   
					<div class="form-group">
                        <input type="password" class="form-input" name="current_password" id="pass"  placeholder="Current Password" onkeyup='passwordValidation(this)' required/>
                        
                       <span class="error-msg" id="password"></span><br>
                    </div>
                      <div class="form-group">
                        <input type="password" class="form-input" name="new_password" id="pass1"  placeholder="New Password" onkeyup='newpasswordValidation(this)' required/>
                        
                       <span class="error-msg" id="npassword"></span><br>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="confirm_password" id="pass2"  placeholder="Confirm Password" onkeyup='cpasswordValidation(this)' required/>
                        
                       <span class="error-msg" id="confirmpassword"></span><br>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Update"/>
                    </div>
                </form>
                
            
            </div>
        </div>
    </section>

</div>


<script type="text/javascript">
	
function passwordValidation(inputTxt){
    
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("password");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
function newpasswordValidation(inputTxt){
    
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("npassword");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
function cpasswordValidation(inputTxt){
    
	var regx =  document.getElementById("pass1").value;
	var regy =  document.getElementById("pass2").value;
	var textField = document.getElementById("confirmpassword");
	var textField1 = document.getElementById("password");

	if(inputTxt.value != '' ){
			if(regx == regy){
				textField.textContent = '';
				textField.style.color = "green";

			}else{
				textField.textContent = 'not match';
				textField.style.color = "red";
			}
		}else{
			textField.textContent = '';
			textField.style.color = "red";
		}
}
</script>
  
</body>
</html>